.searcher-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #f2f8f9;
  width: 100%;
  max-width: 30em;
}

.searcher-container input {
  border: none;
  background-color: #f2f8f9;
  margin: 0;
  padding: 7px 8px;
  font-size: 20px;
  color: inherit;
  height: 32px;
  width: 100%;
}

.searcher-container input:focus {
  outline: none;
}

.searcher-container input::placeholder {
  color: #bbb;
}

.searcher-container .search-icon {
  padding: 0;

  border-radius: inherit;
  background-color: #f2f8f9;
}
.searcher-container .search-icon:hover {
  padding: 2px;
}
