.searcher-container {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  padding: 10px;
  background-color: #f2f8f9;
  max-width: 30em;
  margin-left: 12px;
  margin-top: 10px;
}

.searcher-container input {
  border: none;
  background-color: #f2f8f9;
  margin: 0;
  padding: 7px 8px;
  font-size: 20px;
  color: inherit;
  height: 32px;
  width: 100%;

  /* border: 1px solid transparent; */
  /* border-radius: 5px; */
}

.searcher-container input:focus {
  outline: none;
}

.searcher-container input::placeholder {
  /* border: none; */
  color: #bbb;
}

.searcher-container .search-icon {
  /* width: 100px; */
  /* z-index: 100; */
  /* overflow: hidden; */
  /* width: 40px; */
  padding: 0;
  /* border: 1px solid transparent; */
  border-radius: inherit;
  background-color: #f2f8f9;
}
.searcher-container .search-icon:hover {
  padding: 2px;
}
