article {
  max-width: 30em;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 1.5em 1em;
  margin: 12px;
  font-size: 1.3em;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.1s ease-out;
}

article:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  border: 1px solid #cccccc;
  background-color: white;
}

.data-container {
  width: 100%;
}

.data-container label {
  display: grid;
  gap: 10px;
  grid-template-columns: 120px auto;
  align-items: center;
  border-bottom: #cccccc 1px solid;
  max-width: 21em;
  margin-bottom: 10px;
}

.data-container label p {
  margin: 0px;
  /* font-size: 1.3rem; */
  /* display: inline; */
}

.data-container label span {
  font-weight: bold;
  font-size: 1.1rem;
}

.icons-container {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 40px;
  padding: 0.3em;
}

.icon:hover {
  box-shadow: 0px 4px 8px rgba(201, 201, 201, 0.2);
  border: 1px solid #cccccc;
  border-radius: 7px;
}

.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(92, 86, 86, 0.6);
  z-index: 10;
}

.modal {
  margin: 0 auto;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 5px;
  width: 300px;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  background-color: aliceblue;

  margin-top: 100px;
}

/* @media (max-width: 400px) {
  .modal {
    left: 10px;
  }
} */

.modal input {
  border: 2px solid rgb(104, 99, 99);
  border-radius: 5px;
  height: 30px;
  color: #282828;
  display: block;
  user-select: auto;
  font-size: 16px;
  padding-left: 10px;
}

.modal input:focus {
  border: 3px;
}

.modal .buttons-container {
  margin: 0 auto;
}

.buttons-container button {
  position: relative;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  background-color: #2ecc71;
  border: none;
  border-bottom: 5px solid #27ae60;
  font-weight: bold;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.buttons-container .cancel {
  background-color: rgb(255, 148, 148);
  border-bottom: 5px solid rgb(255, 129, 129);
  margin-left: 20px;
}

.buttons-container button:hover {
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
  border-bottom: 1px solid #2ecc71;
}

.buttons-container .cancel:hover {
  border-bottom: 1px solid rgb(255, 148, 148);
}
