.new-product-container {
  margin-bottom: 10px;
  transform: all 4s;
}

.new-product-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #f8f8f8;
  border-radius: 4px;
  overflow: hidden;
  width: 20em;
  padding: 10px 20px;
  margin: 0 auto;
}

.new-product-form input {
  font-size: 1.2rem;
  border-radius: 3px;
  border: 2px solid black;
}

.submit-btn {
  background-color: #72aaf3;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 6px;
  color: black;
  font-size: 18px;
  text-decoration: none;
  transition: all 250ms;
  width: 150px;
  margin: 0 auto;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #478fec;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.submit-btn:hover {
  transform: translateY(-1px);
}

.submit-btn:active {
  background-color: #0c6eee;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
