.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(92, 86, 86, 0.6);
  z-index: 10;
}

.modal {
  margin: 0 auto;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 5px;
  width: 300px;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  background-color: aliceblue;

  margin-top: 100px;
}

.modal input {
  border: 2px solid rgb(104, 99, 99);
  border-radius: 5px;
  height: 30px;
  color: #282828;
  display: block;
  user-select: auto;
  font-size: 16px;
  padding-left: 10px;
}

.modal input:focus {
  border: 3px;
}

.modal .buttons-container {
  margin: 0 auto;
}

.buttons-container button {
  position: relative;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  background-color: #2ecc71;
  border: none;
  border-bottom: 5px solid #27ae60;
  font-weight: bold;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.buttons-container .cancel {
  background-color: rgb(255, 148, 148);
  border-bottom: 5px solid rgb(255, 129, 129);
  margin-left: 20px;
}

.buttons-container button:hover {
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
  border-bottom: 1px solid #2ecc71;
}

.buttons-container .cancel:hover {
  border-bottom: 1px solid rgb(255, 148, 148);
}
