.header {
  width: 100%;
}

.header-content {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.new-product-button {
  width: 52px;
  height: 52px;
  border: none;
  background-color: rgb(241, 240, 240);
  font-size: 45px;
  margin: 0;
  color: rgb(82, 80, 80);
}
.new-product-button:hover {
  transform: scale(0.9);
}
